body{
margin: auto;
padding: auto;
height: auto;
width: auto;
background-image: url('blue.webp');
background-size: cover;
}
@-webkit-keyframes blinker{
  from{opacity: 1.0;}
  to{opacity: 0.0;}
}

h1{
  font-style: oblique;
  font-size: 6em;
  font-weight: bolder;
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  -webkit-animation-duration: 1.7s;
    @media screen and (max-width:480px){
     font-size: 4em;
   }
  LinearGradient(gradient: Gradient(colors: [.red .yellow, .blue]), startPoint: .top, endPoint: .bottom)
}

marquee h2{
  font-size: 1.2em;
  font-family: georgia;
  font-style: italic;
}

h2{
  font-family: georgia;
  font-style: italic;
}

.welcome marquee{
  font-size: 1.3em;
  background: linear-gradient(red, yellow, blue);
  height: auto;
  width: 90%;
  align-content: center;
  margin: 1em auto;
  border: 1px hidden;
  border-radius: 3px;
  font-style: oblique;
}

h3{
  font-family: georgia;
  margin-top: 1em;
  font-style: oblique;
}

.navbar{
  display: block;
  height: auto;
  width: 100%;
  margin: -2 0 20px 0;
  @media screen and (max-width:480px){
    display: flex;
    flex-wrap: nowrap;
  }
}

ul{
  float: right;
  height: auto;
  width: 100%;
  margin: 0;
  @media screen and (max-width:480px){
    display: flex;
    flex-wrap: nowrap;
  }
}

li{
  display:inline-block;
  height: 1.5em;
  width: auto;
  margin: 1.5em;
  float: right;
  @media screen and (max-width:480px){
  flex-wrap: wrap;
  height: 0.8em;
  margin: 0.75em;
  }


}

hr{
  border:  ;
  background: linear-gradient(red, yellow, blue);
}

a{
  color: beige;
  font-size: 1.5em;
  text-decoration: none;
  @media screen and (max-width:480px){
    font-size: 0.6em;
    display: inline-block;
    border: 1px hidden;
  }
}

a:hover{
  color: gray;
  background-color: snow;
  border-radius: 2px;
}

.welcome{
height: 20em;
width: auto;
border: 1px;
border-radius: 8px;
margin: 2em;
text-align: center;
color: snow;
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

img{
  height: 15em;
  width: 98%;
  margin-top: 1em;
  border: 1px hidden;
  border-radius: 5px;
}

p{
  line-height: 1.5em;
  @media screen and (max-width:480px) {
    font-size: 0.6em;
    line-height: 1em;
    background-color: white;
    height: auto;
    width: 100%;
  }
}

.exp{
  color: white;
}

#portfolio{
  height: auto;
  width: 23em;
  border: 1px solid blue;
  border-radius: 10px;
  margin: 0.5em;
  justify-content: center;
  max-width: 100%;
}

#contact{
  height: 2em
  width: fit-content;
  border: 1px solid blue;
  border-radius: 8px;
  text-align: center;
  color: snow;
  margin: 2em 7em;
  background: linear-gradient(dodgerblue, whitesmoke, blue);
  @media screen and (max-width:480px){
      width: 100%;
    }
}

.icon a{
  margin: auto 2em;
  opacity: 1;
  @media screen and (max-width:480px){
    margin: auto 0.2em
  }
}

.icon a:hover{
  border-radius: 10px;
  color: bisque;
}

.in{
  color: dodgerblue;
}

.mail{
  color: crimson;
}

.sms{
  color: magenta;
}

.call{
  color: sienna;
}

.app{
  color: springgreen;
}

.fb{
  color: cornflowerblue;
}
.twitter{
  color: cyan
}
#aboutme{
  border: 1px solid blue;
  border-radius: 5px;
  height: auto;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 10em auto 3em;
  @media only screen and (min-width:320px) and (max-width:480px){
    height: auto;
    width: 90%;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 6em auto;
  }
}

#aboutme img{
  height: 10em;
  width: 10em;
  border: 1px hidden;
  border-radius: 5em;
  margin: 1em;
  display: inline-block;
}

#aboutme p{
  margin:2.3em  auto;
  height: auto;
  width: 62%;
  border: 1px hidden;
  border-color: white;
  float:right;
  padding: auto;
  line-height: 1.5em;
  font-weight: 2em;
  color: whitesmoke;
}

#aboutme a{
  font-size: 1em;
  font-style: italic;
  font-family: montserrat;
  color: aqua;
}

#ratings{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: auto;
  height: 2em;
  width: 60%;
  border: 1px hidden;
  border-radius: 1em;
  justify-content: center;
  background: linear-gradient(dodgerblue, floralwhite, blue);
}
span{
  color: gold;
}
